/*
Here goes all the styling
that would most likely be used across all FSU websites.
*/

html, body {
  width: 100%;
  margin: 0;
}

div.container {
  margin: 0 auto;
  text-align: center;
}

a{
  color: inherit;
  text-decoration: none;
}
a:hover{cursor: pointer;}

div#colored-top {
  background-color: #782f40;
  height: 50px;
}

a#fsu-name {
  font: "Times New Roman";
  color: black;
  text-transform: uppercase;
  text-decoration: none;

  /* The Shadow, copy-pasted the values */
  /* I feel that having an accurate logo would make it more believable */
	-moz-text-shadow: 0 1px 1px rgba(44,42,41,.25);
	-webkit-text-shadow: 0 1px 1px rgba(44,42,41,.25);
	text-shadow: 0 1px 1px rgba(44,42,41,.25);
}

#header-logo-container {
  height: 0;
}

div#fsu-name-container {
  padding-top: 34px;
}

img#header-logo {
  position: relative;
  top: -34px;
}

.nav-bar {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.nav-item {
  flex: 0 0;
  padding: 0.75em 1em;
}

.nav-item a {
  font: "Times New Roman"
    font-style: normal;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-item a:hover {
  background-color: #22222;
  background-size: 16px 10px;
}

.btn{
  border-radius: 4px;
  padding: 0.25em .75em;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.btn-red {
  border: .1em solid #782f40;
  background-color: #782f40;
  color: white;
}
.btn-red:hover {
  border: .1em solid black;
  background-color: white;
  color: #782f40;
}

.btn-news {
  border: .05em solid rgba(0,0,0, 0.1);
  background-color: #dacaa6;
}
.btn-news:hover {
  border: .05em solid rgba(0,0,0, 0.1);
  background-color: #2c2a29;
  color: #dacaa6;
}

div.section{
  margin: auto;
  padding: 2vw;
  max-width: 100%;
}

@media (min-width: 1200px) {
  div.section{
    padding: 2vw calc((100vw - 1140px)/2);
  }
}

.section-a{ background: #f4f4f4; }
.section-b{ background: white;   }
.section-c{ background: #f3ede1; }
.section-f{ background: #782f40; }

div.row{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  max-width: 100%;
}

@media only screen and (max-width: 600px) {
  div.row{
    flex-wrap: wrap;
  }
}

.column {
  flex: 1 1;
  margin: 2px;
  text-align: left;
}

.headline{
  padding: 5px;
}

.headline:hover{
  background: white;
	-moz-box-shadow: 0 0 5px 1px rgba(0,0,0, .15);
	-webkit-box-shadow: 0 0 5px 1px rgba(0,0,0, .15);
	box-shadow: 0 0 5px 1px rgba(0,0,0, .15);
}

.headline .title{
  font-weight: bolder;
  font-size: 1.3em;
}

.column img {
  width: 100%;
  height: auto;
}

.non-style{
  background: blue;
  list-style: none;
}

.non-style li {
  text-decoration: none;
}
